:root {
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;

    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;

    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;

    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;

    --bg: var(--nord0);
    --fg: var(--nord4);

    --default-padding: 10vh 0vh;
    --default-width: 70%;
    --default-margin: 15%;
}
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');

body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: 'Red Hat Display', sans-serif;
    width: 100%;
    margin: auto;

    user-select: none;
}

/* MENUBAR */

#menubar {
    display: flex;
    justify-content: center;
    gap: 100px;
    background: var(--nord3);
    padding: 0px 100px;

    position: sticky;
    top: 10px;
    margin: 0px 10px;

    box-shadow: 0px 5px 5px #000a;
}

.menu-icon {
    width: 5vh;
    height: 5vh;

    padding-left: 10px;
}

.menu-buttons {
    display: flex;
    justify-content: center;
    gap: 3%;

    padding-right: 10px;
}

.menu-element {
    font-size: 20px; 
    text-align: center;

    color: var(--fg);
    border-bottom: 2px solid #0000;
    padding: 10px 10px;
}

.menu-element:hover {
    background: var(--nord1);
    border-bottom: 2px solid var(--nord7);
    padding: 10px 10px;
}

/* BIOGRAPHY */

#bio {
    height: 100vh;
}

.bio-content {
    display: grid;
    grid-template-columns: 15% 75%;
    gap: 5%;

    background: var(--nord10);
    width: var(--default-width);
    margin: 20% 20% 20% 15%;
    padding: 20px;

    box-shadow: 0px 5px 5px #0008;
    border-left: 6px solid var(--nord7);
}

.bio-headshot {
    grid-column: 1;
}

.bio-text {
    grid-column: 2;
}

.down {
    display: flex;
    justify-content: center;
}

.down-button {
    background: var(--nord14);
    border-radius: 80px;

    box-shadow: 0px 5px 5px #000a;
}

.down-arrow {
    width: 5vh;
    height: 10vh;

    padding: 20px;
}

.down-arrow:hover {
    width: 6vh;
    height: 12vh;

    padding: 20px;
}

/* EXPERIENCE */

#experience {
    padding: 8vh 10% 10vh 10%;
    width: 80%;
    background: var(--nord4);
}

.experience-element-left {
    background: var(--nord10);
    padding: 4px 10px;
    margin-left: -10%;
    border-left: 6px solid var(--nord7);

    box-shadow: 0px 5px 5px #000a;
}

.experience-element-right {
    background: var(--nord10);
    padding: 4px 10px;
    margin-right: -10%;
    border-right: 6px solid var(--nord7);

    box-shadow: 0px 5px 5px #000a;
}

/* SKILLS */

#skills {
    width: var(--default-width);
    margin: var(--default-margin);
}

/* SOFTWARE */

#software {
    width: var(--default-width);
    margin: var(--default-margin);
}

.software-list {
    display: flex;
}

.software-title {
    font-size: 20px;
    color: var(--nord8);
}

.software-element {
    margin-left: 4vh;
}

.software-icon {
    height: 5vh;
    width: 5vh;
    margin-bottom: -12px;
}

.software-name {
    font-size: 16px;
    color: var(--nord5);
    text-align: center;
}

.software-textlist {

}

.software-textlist-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* PUBLICATIONS */

#publications {
    width: var(--default-width);
    margin: var(--default-margin);
}

/* CONTACT */

#contact {
    padding: var(--default-padding);
    margin: var(--default-margin);
}

.contact-horizontal {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 10%;
}

.contact-list {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.contact-icon {
    height: 10vh;
    width: 10vh;
}

.contact-element {
    text-align: center;
}

.contact-text {
}

/* GENERICS */

.section-title {
    text-align: center;
    text-transform: uppercase;

    padding: 0 0 20px 0;
}

h1 {
    color: var(--nord9);
}

h2 {
    color: var(--nord8);
}

h2 {
    color: var(--nord7);
}

a {
    text-decoration: none;
    color: var(--fg);
}
