:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;

  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;

  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;

  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;

  --bg: var(--nord0);
  --fg: var(--nord4);

  --default-padding: 10vh 0vh;
  --default-width: 70%;
  --default-margin: 15%;
}

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap");

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: "Red Hat Display", sans-serif;
  font-size: 20px;
  margin: 0;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

/* MENUBAR */

#navbar {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  position: sticky;
  z-index: 100;
  top: 0;
  background: var(--nord1);
  padding: 0 1em;
}

#navbar p {
  font-size: 1.5em;
  margin: auto 0;
  padding-bottom: 0.25em;
}

#navbar li {
  display: flex;
  margin: auto 0;
  gap: 1em;
}

#navbar li a {
  position: relative;
  color: var(--nord4);
  text-decoration: none;
  padding-bottom: 0.25em;
}

#navbar li a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--nord13);
  transform: scaleX(0);
}

#navbar li a:hover::before {
  transform: scaleX(1.1);
  transition: transform 0.3s ease;
}

@media (min-width: 576px) {
  #navbar p {
    font-size: 1em;
  }

  #navbar li a {
    font-size: 1em;
  }
}

@media (min-width: 768px) {
  #navbar p {
    font-size: 1.5em;
  }

  #navbar li a {
    font-size: 1em;
  }
}

@media (min-width: 992px) {
  #navbar p {
    font-size: 1.5em;
  }

  #navbar li a {
    font-size: 1em;
  }
}

@media (min-width: 1200px) {
  #navbar p {
    font-size: 1.5em;
  }

  #navbar li a {
    font-size: 1em;
  }
}

/* INTRO */

#intro {
  height: 100vh;
  background: var(--nord10);
}

.intro-container {
  height: 100vh;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3vh;
}

.intro-container li {
  list-style: none;
}

.intro-container p {
  line-height: 1.5em;
}

.highlight {
  color: var(--nord13);
}

.contact-list {
  width: 60vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

.contact-list::before,
.contact-list::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 20vw;
  left: 10vw;
  background-color: var(--nord4);
}

.contact-list::after {
  left: unset;
  right: 10vw;
}

.contact-list img {
  height: 3em;
  width: 3em;
  opacity: 0.75;
}

.contact-list img:hover {
  transform: scale(1.1);
  transition-duration: 0.25s;
  opacity: 1;
}

@media (min-width: 576px) {
  .contact-list {
    gap: 10vw;
  }

  .contact-list::after,
  .contact-list::before {
    content: none;
  }
}

@media (min-width: 768px) {
  .contact-list {
    gap: 10vw;
  }

  .contact-list::after,
  .contact-list::before {
    content: "";
    width: 5vw;
  }
}

@media (min-width: 992px) {
  .contact-list {
    gap: 7.5vw;
  }

  .contact-list::after,
  .contact-list::before {
    content: "";
    width: 10vw;
  }
}

@media (min-width: 1200px) {
  .intro-container {
    width: 60vw;
  }

  .contact-list {
    width: 60vw;
    gap: 5vw;
  }

  .contact-list::before {
    left: 20vw;
  }

  .contact-list::after {
    right: 20vw;
  }
}

/* EXPERIENCE */

#experience {
  min-height: 100vh;
  width: 80vw;
  padding: 10vh 10vw;
  background: var(--nord3);
}

.timeline {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 1em;
  padding: 0 0 1vh 12vw;
}

.slot {
  background-color: var(--nord10);
  padding: 1em;
  box-shadow: 0px 4px 4px 0px #000a;
}

.responsibilities {
  padding-top: 0.5em;
}

.responsibilities div {
  margin-left: 0.5em;
  padding: 0.25em 0;
}

.title {
  font-size: 1.25em;
  font-weight: bold;
}

.position {
  font-style: italic;
}

.date {
  position: absolute;
  left: 3.5em;
  margin: 0.1em 0;
  font-style: italic;
}

.slot::before {
  content: "";
  position: absolute;
  vertical-align: bottom;
  width: 1em;
  height: 1em;
  left: 11.3em;
  margin: 0.1em 0;

  border: 4px solid var(--nord9);
  border-radius: 50%;
  background-color: var(--nord13);
  box-shadow: 0px 4px 4px 0px #000a;
}

.timeline::before {
  content: "";
  position: absolute;
  vertical-align: bottom;
  width: 2px;
  height: 75vh;
  left: 12em;

  background-color: var(--nord9);
  box-shadow: 0px 4px 4px 0px #000a;
}

@media (min-width: 576px) {
  .timeline {
    padding: 0 0 0 4em;
  }
  .title {
    font-size: 1em;
  }
  .position {
    font-size: 0.75em;
  }
  .date {
    width: 1em;
    font-size: 0.75em;
  }
  .responsibilities {
    font-size: 0.75em;
  }
  .slot::before {
    left: 4.5em;
  }

  .timeline::before {
    left: 5.2em;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .timeline {
    padding: 0 0 0 4em;
  }
  .title {
    font-size: 1.25em;
  }
  .position {
    font-size: 1em;
  }
  .date {
    width: 4em;
    font-size: 1em;
    left: 1em;
  }
  .responsibilities {
    font-size: 1em;
  }
  .slot::before {
    left: 5em;
  }

  .timeline::before {
    left: 5.7em;
    height: 100%;
  }
}
@media (min-width: 992px) {
  .timeline {
    padding: 0 0 0 6em;
  }
  .title {
    font-size: 1.25em;
  }
  .position {
    font-size: 1em;
  }
  .date {
    width: 4em;
    font-size: 1em;
    left: 3em;
  }
  .responsibilities {
    font-size: 1em;
  }
  .slot::before {
    left: 7em;
  }
  .timeline::before {
    left: 7.7em;
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .timeline {
    padding: 0 0 0 6em;
  }
  .title {
    font-size: 1.25em;
  }
  .position {
    font-size: 1em;
  }
  .date {
    width: 4em;
    font-size: 1em;
    left: 3em;
  }
  .responsibilities {
    font-size: 1em;
  }
  .slot::before {
    left: 7em;
  }
  .timeline::before {
    left: 7.7em;
    height: 100%;
  }
}

/* SKILLS */

#skills {
  min-height: 100vh;
}

.skills-container {
  padding: 10vh 10vw;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: var(--nord10);
  gap: 2em;
}

.skills-group {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: var(--nord2);
  padding: 1em;
  margin-bottom: -2em;
  gap: 0.5em;

  box-shadow: 0px 4px 4px var(--nord0);
  z-index: 10;
}

.hover-prompt {
  position: absolute;
  left: 5.5em;
  margin-top: -7em;
  background: var(--nord14);
  color: var(--nord0);
  padding: 0.2em;
  box-shadow: 0px 4px 4px var(--nord0);
}

.skills-group p {
  max-width: 46%;
}

.icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1em;
}

.icon-text img {
  width: 2.5em;
  height: 2.5em;
  padding-bottom: 1em;
}

.skills-subgroup {
  background-color: var(--nord9);
  color: var(--nord1);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 1em;
  padding: 0 1em;
  opacity: 0;
  max-height: 0;
  transition:
    padding 0.4s ease-in,
    max-height 0.4s ease-in,
    opacity 0.4s ease-in;
  box-shadow: 0px 2px 2px var(--nord0);
  z-index: 9;
}

.skills-group:hover + .skills-subgroup {
  padding: 1em 1em;
  opacity: 1;
  max-height: 1em;
}

.skills-subgroup ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.footnote {
  color: var(--nord2);
}

.spacer {
  margin-bottom: 0.5em;
}

/* PUBLICATIONS */

#publications {
  height: 100vh;
  width: 80vw;
  padding: 10vh 10vw;
  background-color: var(--nord3);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.publication {
  background: var(--nord10);
  padding: 1em;
  box-shadow: 0px 4px 4px var(--nord0);
}

.publication-title {
  font-weight: bold;
  font-size: 1.5em;
}

.publication a {
  text-decoration: none;
  color: var(--nord4);
}

.read-at {
  position: absolute;
  right: 5em;
  margin-top: -1em;
  background-color: var(--nord14);
  padding: 1em;
  box-shadow: 0px 4px 4px 0px var(--nord0);
}

.read-at:link,
.read-at:visited,
.read-at:hover,
.read-at:active {
  color: var(--nord2);
}

.me {
  font-weight: bold;
  font-size: 1.25em;
}

/* GENERICS */

.section-title {
  text-align: center;
  text-transform: uppercase;
  padding: 0 0 20px 0;
}

ul {
  list-style: square;
}
