---
layout: page
title: Experience
permalink: /experience/
---

<!doctype html>
<div class="experience-wrapper">
  {% for exp in site.data.experience %}
  <div class="experience">
    <div>
      <span class="title">{{ exp.title }}</span> -
      <span class="workplace">{{ exp.workplace }}</span>
    </div>
    <div class="date">{{ exp.date_start }} - {{ exp.date_end }}</div>
    <ul class="responsibilities">
      {% for responsibility in exp.responsibilities %}
      <li class="responsibility">{{ responsibility }}</li>
      {% endfor %}
    </ul>
    <br />
  </div>
  {% endfor %}
</div>
